{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<!--Section: Content-->
<section class="">
    {% if user.id %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Categories</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ categories|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Buses</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ products|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-bus fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Upcoming Trip</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ upcoming_trip|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="card text-bg-dark">
        <!--<video src="{{ MEDIA_URL }}/default/vid-1.mp4" autoplay muted loop>background</video>-->
        <img src="{{ MEDIA_URL }}/default/bus-1.png" class="card-img" alt="background">
        <div class="card-img-overlay">
            <div class="card-body">
                <div class="container-fluid">
                    <h2 class="text-center fw-bold" style="font-size: 45px; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;">Welcome to Bus Reservation System</h2>
                    <hr style="margin: 10px 65px 45px 65px;">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="card card-default rounded-0 shadow border border-dark">  
    </div>


    <div class="container my-5">
        <div class="card mb-5" >
            <div class="row">
            <div class="col-md-4">
                <video class="container-fluid" src="{{ MEDIA_URL }}/default/vid-1.mp4" autoplay muted loop>background</video>
            </div>
            <div class="col-md-7">
                <div class="card-body">
                <h5 class="card-title" style="font-weight: 400; color: black;">About Us</h5>
                <p class="card-text">The bus reservation system allows users to book tickets, view schedules, and manage bookings. Travel agencies can register to list and manage their services. The system ensures secure access through user authentication and provides dynamic updates of routes and schedules</p>
                </div>
            </div>
            </div>
        </div>    
    </div>


    <div class="container my-5" style="color: black;">

        

        <div class="card mb-5">
            <div class="row">
            <div class="col-md-6 my-4" style="background-color: rgba(65, 154, 255, 0.452); border-radius: 10px;">
                <p style="margin-top: 100px; margin-left: 20px; padding: 0px 30px;"> 
                    Please get in touch if you have any questions, would want to work together, or simply to chat. Please get in touch with me by phone or email, and I will respond as soon as I can. Let's get things done!


                <div class="card-body">
                    
                    <div class="card-body" style="color: black; padding-left: 30px;">
                        <a href="#" class="card-link" style="color: black;"><i class="fa-brands fa-facebook"></i>&nbsp; Bus_reservation</a><br>
                        <a href="#" class="card-link" style="color: black;"><i class="fa-solid fa-envelope"></i>&nbsp; busreservation@gamil.com</a><br>
                        <a href="#" class="card-link" style="color: black;"><i class="fa-brands fa-square-instagram"></i>&nbsp; @_bus_reserve</a><br>
                        <a href="#" class="card-link" style="color: black;"><i class="fa-solid fa-phone"></i></a>&nbsp; +250788123494<br>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 my-4" style="width: 30rem; padding: 0 30px; margin-left: 50px;">
                <h5 class="title text-center" style="padding: 20px 0px; font-size: 25px; font-weight: 400; margin-bottom: 20px;">Get in Touch.</h5>

                <form action="">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Full name" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <input class="btn btn-info" type="submit" value="Submit">
                </form>
            </div>
            </div>
        </div>    
    </div>
    


    {% endif %}
</section>


</div> {% endblock pageContent %}